* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: SF UI Display, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #fff;
  background-color: #121212;
}
h1,
h2 {
  font-size: 30px;
  font-weight: 700;

  @media (max-width: 1130px) {
    font-size: 25px;
  }
  @media (max-width: 1015px) {
    font-size: 20px;
  }
}

/* 
>=390px:   xs - mobile x-small
>=576px:   sm - mobile small
>=768px:   md - Tablet portrait
>=992px:   lg - Tablet landscape
>=1200px:  xl - Extra large
>=1440px:  xxl - Extra extra large 
*/

.page-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 64px;
  padding-right: 64px;

  @media (max-width: 992px) {
    max-width: 576px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media (max-width: 576px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: 390px) {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header-icon {
  margin-right: 8px;
}
.header-title {
  color: #f6bd41;
  font-size: 18px;
  font-weight: 700;
}

.heading {
  padding-top: 31px;
  padding-bottom: 29px;
  @media (max-width: 576px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.playlists-wrapper {
  display: flex;
  gap: 12px;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

.playlist {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  border-radius: 4px;
  background: #1c1c1c;
  padding-top: 24px;
  padding-right: 36px;
  padding-bottom: 47px;
  padding-left: 36px;

  @media (max-width: 992px) {
    max-width: 100%;
  }
  @media (max-width: 576px) {
    padding: 24px;
  }
  @media (max-width: 390px) {
    padding: 14px;
  }
}

.playlist__heading {
  display: flex;
  margin-bottom: 30px;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.playlist__cover-wrapper {
  max-width: 170px;
  max-height: 176px;
  margin-right: 24px;
}

.playlist__info-wrapper {
  padding-top: 7px;
}

.playlist__subtitle-wrapper {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 23px;

  @media (max-width: 1130px) {
    margin-bottom: 18px;
  }
  @media (max-width: 992px) {
    margin-bottom: 14px;
  }
  @media (max-width: 576px) {
    margin-bottom: 10px;
  }
}

.playlist__title {
  margin-bottom: 10px;
}

.playlist__count-duration-wrapper {
  color: #8a8a8a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 11px;
}

.playlist__artists {
  line-height: 24px;
  @media (max-width: 1130px) {
    font-size: 14px;
  }
}

.playlist__and-other {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.track {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: start;
  }
}

.track__cover {
  margin-right: 12px;
}

.track__info {
  display: flex;
  flex-direction: column;
}

.track__title {
  margin-bottom: 9px;
}

.track__is-hot {
  margin-right: 6px;
}
.track__artist-name {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.track__name {
  color: #8a8a8a;
  font-size: 12px;
}

.track__audio {
  max-height: 24px;
  border-radius: 4px;
  filter: invert(100%);
  max-width: 100%;
}

.track__audio::-webkit-media-controls-enclosure {
  border-radius: 4px;
  color: #fff;
}
